body {
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #e0efe6; /* Light green background */
  font-size: 1rem; /* Use rem units to scale based on user settings */
}

header {
  background-color: #4e8a62; /* Medium dark green */
  padding: 2rem; /* Adjust padding with rem units */
  text-align: center;
}

header h1 {
  margin: 0;
  color: #ffffff; /* White text */
  font-size: 2.5rem; /* Scalable font size */
}

form {
  display: flex;
  justify-content: center;
  margin: 2rem 0;
  flex-wrap: wrap; /* Allow form elements to wrap on smaller screens */
}

input {
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #3a6a4a; /* Darker green border */
  border-radius: 5px;
  width: 100%; /* Full width on small screens */
  max-width: 400px; /* Limit max width */
}

button {
  display: block;
  margin: 1rem auto;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  background-color: #356848; /* Dark green */
  color: #ffffff; /* White text */
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #2b553a; /* Even darker green on hover */
}

div > div {
  padding: 1rem;
  text-align: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #e0efe6;
  height: auto;
}

.navbar-brand {
  font-size: 3.5rem; /* Adjust font size */
  font-weight: bold;
  color: #22bda8;
}

.navbar-links {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  flex-wrap: wrap; /* Wrap on smaller screens */
}

.navbar-links li {
  margin-left: 15px;
}

.navbar a {
  text-decoration: none;
  color: #333333;
}

.nav-button {
  background-color: #a2d3b1;
  color: #333333;
  border: 1px solid #4e8a62;
  border-radius: 10px;
  transition: background-color 0.3s ease;
  margin-right: 15px;
  font-size: 1rem; /* Adjust font size */
  padding: 0.5rem 1rem;
}

.nav-button:hover {
  background-color: #82c197;
  color: #ffffff;
}

.header-container {
  position: relative;
  text-align: center;
  color: white;
}

.header-image {
  width: 100%;
  height: auto;
  opacity: 1;
}

.header-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  padding: 20px;
  border-radius: 10px;
}

.header-text h1 {
  margin: 0;
  font-size: 2rem;
  color: #e0efe6;
}

.total-header-flex {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
  flex-wrap: wrap; /* Wrap on smaller screens */
}

.center-header-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  flex-wrap: wrap; /* Wrap on smaller screens */
}

.total-header-column {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
  flex-wrap: wrap; /* Wrap on smaller screens */
}

.bullets {
  padding: 0;
  text-align: center;
  font-size: 1.25rem;
}

.styled-list {
  list-style-type: none;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  
}

.bullets::before {
  content: "•";
  margin-right: 0.5em;
  color: #356848;
}

.equation-input-class {
  width: 250%;
}

.equation-input-and-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  flex-wrap: wrap; /* Wrap input and button on smaller screens */
}

.equation-input-and-button button,
.equation-input-and-button form {
  margin: 10px;
}

.equation-input-and-button button {
  padding: 15px 30px;
  font-size: 1.5rem;
  cursor: pointer;
  background-color: #4e8a62;
  color: #ffffff;
  border: 2px solid #356848;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.equation-input-and-button button:hover {
  background-color: #2b553a;
}

.equation-input-and-button input {
  padding: 15px;
  font-size: 1.5rem;
  width: 150%; /* Full width on small screens */
  max-width: 525px; /* Limit max width */
  min-width: 350px;
  border: 2px solid #3a6a4a;
  border-radius: 5px;
}

.switch {
  display: flex;
  gap: 10px;
  flex-wrap: wrap; /* Wrap on smaller screens */
}

.option {
  padding: 10px 20px;
  border: 1px solid #356848;
  background-color: #a5d6a7;
  color: #356848;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  border-radius: 5px;
}

.option.selected {
  background-color: #004d40;
  color: #ffffff;
}

.mini-window {
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -20%);
  background-color: white;
  border: 1px solid #cccccc;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  width: 90%; /* Make mini-window responsive */
  max-width: 500px; /* Limit max width */
}

.Modal {
  position: relative;
  width: 80%;
  max-width: 600px;
  height: 80%;
  max-height: 80%;
  margin: auto;
  background: #fff;
  border-radius: 10px;
  padding: 20px;
  overflow-y: auto; /* Enables scrolling */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  height: auto;
}

.Modal img {
  max-width: 100%;
  height: auto;
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 1000;
}

.button-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 80%;
  margin: 0 auto;
}

.question-buttons {
  border-radius: 5px;
  width: 20%;
  padding: 20px;
  margin: 1%;
  background-color: #a2d3b1;
  color: #333333;
  border: 1px solid #4e8a62;
  transition: background-color 0.3s ease;
}

.question-buttons:hover {
  background-color: #82c197;
}

.molarity-button-container {
  display: flex;
  margin-top: 20px;
  position: relative;
}

.molarity-button {
  padding: 10px 20px;
  border: 1px solid #356848;
  background-color: #8fbf99;
  color: #356848;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  position: relative;
  z-index: 1;
  outline: none;
  border-radius: 0;
}

.molarity-button.selected {
  background-color: #004d40;
  color: #ffffff;
  z-index: 2;
}

.molarity-button:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.molarity-button:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.molarity-button-container::before {
  content: '';
  position: absolute;
  width: 50%;
  height: 100%;
  z-index: 0;
  top: 0;
  left: 0;
  transition: transform 0.3s;
}

.molarity-button.selected:first-child ~ .button-container::before {
  transform: translateX(0);
}

.molarity-button.selected:last-child ~ .button-container::before {
  transform: translateX(100%);
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.calculate-button {
  padding: 11px 20px;
  background-color: #004d40;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.calculate-button:hover {
  background-color: #003c32;
}

body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Media Queries */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    height: auto;
  }

  .navbar-brand {
    font-size: 1.5rem;
  }

  .navbar-links {
    flex-direction: column;
    align-items: center;
  }

  .nav-button {
    margin: 5px 0;
    font-size: 1rem;
    padding: 0.5rem 1rem;
  }

  .question-buttons {
    width: 45%;
    margin: 5%;
  }
}

@media (max-width: 480px) {
  .navbar-brand {
    font-size: 1.25rem;
  }

  .navbar-links li {
    margin: 5px 0;
  }

  .header-text h1 {
    font-size: 1.5rem;
  }

  .form-group label {
    font-size: 1rem;
  }

  .question-buttons {
    width: 100%;
    margin: 5% 0;
  }
}
